<div class="container" [formGroup]="form">
  <input type="text" formControlName="title" [ngClass]="{ 'error': form.controls.title.errors?.required && form.controls.title.touched }">
  <button (click)="addNewItem()" [disabled]="!form.valid">Add</button>

  <div class="todo-list">
    <app-todo-item *ngFor="let item of todos" [item]="item"></app-todo-item>
  </div>
</div>
